<a href="https://colab.research.google.com/github/syahrinalfi/MachineLearningTasks/blob/main/1stWeekTasks/1_Decision_Tree_melb_house_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nama : Muhammad Alfi Syahrin
NIM : 1103213144
Dataset : melb_house.csv
Overview :

In [77]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
from google.colab import drive

In [79]:
# Mount drive dan baca data dari file CSV
drive.mount('/content/drive')
url = "/content/drive/MyDrive/Colab Notebooks/Machine Learning/Minggu 1/melb_data.csv"
data = pd.read_csv(url, index_col = 0)

# Tampilkan informasi data
data.info()
print()

# Tampilkan lima baris pertama dari data
print(data.head())

# Pisahkan fitur (X) dan target (y)
dataForModel = data.dropna()  # Menghapus baris yang berisi NaN
X = dataForModel.drop(['Price'], axis=1) # Menghapus kolom 'Price' untuk Target
X = pd.get_dummies(X, drop_first=True) # Melakukan one-hot encoding pada fitur kategorikal dalam DataFrame X
y = dataForModel['Price'] # Target

# Bagi data menjadi data latih dan data uji
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Buat model Decision Tree
model = DecisionTreeRegressor(random_state=42)

# Latih model pada data latih
model.fit(X_train, y_train)

# Lakukan prediksi pada data uji
y_pred = model.predict(X_test)

# Evaluasi model
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
<class 'pandas.core.frame.DataFrame'>
Int64Index: 18396 entries, 1 to 23546
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         18396 non-null  object
 1   Address        18396 non-null  object
 2   Rooms          18396 non-null  int64
 3   Type           18396 non-null  object
 4   Price          18396 non-null  float64
 5   Method         18396 non-null  object
 6   SellerG        18396 non-null  object
 7   Date           18396 non-null  object
 8   Distance       18395 non-null  float64
 9   Postcode       18395 non-null  float64
 10  Bedroom2       14927 non-null  float64
 11  Bathroom       14925 non-null  float64
 12  Car            14820 non-null  float64
 13  Landsize       13603 non-null  float64
 14  BuildingArea   7762 non-null   float64
 15  YearBuilt      8958 non-null   float64
 16  CouncilArea    12233 non-null  object
 17  Lattitude      15064 non-null  float64
 18  Longtitude     15064 non-null  float64
 19  Regionname     18395 non-null  object
 20  Propertycount  18395 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 3.1+ MB

       Suburb           Address  Rooms Type      Price Method SellerG  \
1  Abbotsford      85 Turner St      2    h  1480000.0      S  Biggin
2  Abbotsford   25 Bloomburg St      2    h  1035000.0      S  Biggin
4  Abbotsford      5 Charles St      3    h  1465000.0     SP  Biggin
5  Abbotsford  40 Federation La      3    h   850000.0     PI  Biggin
6  Abbotsford       55a Park St      4    h  1600000.0     VB  Nelson

        Date  Distance  Postcode  ...  Bathroom  Car  Landsize  BuildingArea  \
1  3/12/2016       2.5    3067.0  ...       1.0  1.0     202.0           NaN
2  4/02/2016       2.5    3067.0  ...       1.0  0.0     156.0          79.0
4  4/03/2017       2.5    3067.0  ...       2.0  0.0     134.0         150.0
5  4/03/2017       2.5    3067.0  ...       2.0  1.0      94.0           NaN
6  4/06/2016       2.5    3067.0  ...       1.0  2.0     120.0         142.0

   YearBuilt  CouncilArea Lattitude  Longtitude             Regionname  \
1        NaN        Yarra  -37.7996    144.9984  Northern Metropolitan
2     1900.0        Yarra  -37.8079    144.9934  Northern Metropolitan
4     1900.0        Yarra  -37.8093    144.9944  Northern Metropolitan
5        NaN        Yarra  -37.7969    144.9969  Northern Metropolitan
6     2014.0        Yarra  -37.8072    144.9941  Northern Metropolitan

  Propertycount
1        4019.0
2        4019.0
4        4019.0
5        4019.0
6        4019.0

[5 rows x 21 columns]
Mean Squared Error: 164101687796.55646